body
{
    background-image: url(imagenes/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu
{
        list-style: none;
        padding: 0;
        background: #fafafa;
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
    }
    
    .menu li {
        display: inline-block;
        text-align: center;
    }
    
    .menu li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        display: block;
        padding: 20px;
    }
    
    .menu li a:hover{
        background: #ef8354;
}
.fondotext1
{
    position: absolute;
width: 664px;
height: 157px;
left: 500px;
top: 250px;

background: rgba(255, 255, 255, 0.65);
}
.titulo1
{
 

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 54px;

color: #000000;
}
.fondotext2
{
position: absolute;
width: 301px;
height: 71px;
left: 700px;
top: 500px;

background: #FFFFFF;
}
.text2
{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;

}