body
{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: -0px;
    top: -0px;

    background: url(imagenes/Fondo\ 1.png);
    background-size: cover;
    

}



header{
    
    position: absolute;
    width: 1342.03px;
    height: 266px;
    left: 47px;
    top: 36px;
    }
    .fondotexto{
        position: absolute;
        width: 1000px;
        height: 200px;
        left: 38px;
        top: 64px;
        
        background: rgba(255, 255, 255, 0.4);
        border-radius: 25px;
    }
    .fotografia2{
    position: absolute;
    width: 265px;
    height: 240px;
    left: 1120px;
    top: 36px;
    
    background: url(imagenes/FotoPerfil.png);
    border-radius: 120px;
    
}
    
.Tarjetatalleres
    {
        position: absolute;
        width: 400px;
        height: 500px;
        left: 38px;
        top: 325px;
        
        background: rgba(255, 255, 255, 0.35);
        border-radius: 25px;
}
.tarjetaconsulta
{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 498px;
    top: 335px;
    
    background: rgba(255, 255, 255, 0.35);
    border-radius: 25px;
}
.tarjetaretos
{
position: absolute;
width: 400px;
height: 500px;
left: 952px;
top: 335px;

background: rgba(255, 255, 255, 0.35);
border-radius: 25px;
}
.piepagina
{
position: absolute;
width: 1320px;
height: 100px;
left: 43px;
top: 872px;

background: rgba(0, 26, 255, 0.44);
border-radius: 25px;
}
    
