body
{
    position: relative;
width: 1440px;
height: 1024px;

background: #247B7B;
}
.FotoP
{
    position: absolute;
width: 250px;
height: 250px;
left: 595px;
top: 80px;

background: url(imagenes/FotoPerfil.png);
}
.FotoF
{
position: absolute;
width: 1440px;
height: 205px;
left: 0px;
top: 0px;

background: url(/Hojadevida/imagenes/FotoCiudad.png);
}
.name
{
    
position: absolute;
width: 393px;
height: 91px;
left: 82px;
top: 30px;

font-family: Sahitya;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 31px;

color: #FFFFFF;
}

.exp
{
    position: absolute;
    width: 345px;
    height: 76px;
    left: 909px;
    top: 30px;
    
    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 50px;
    
    color: #FFFFFF;
}

.p1
{
    position: absolute;
    width: 322px;
    height: 250.93px;
    left: 60px;
    top: 223.53px;
    
    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    
    color: #FFFFFA;
    
}
.p2
{
    position: absolute;
    width: 313px;
    height: 244px;
    left: 412px;
    top: 478px;

    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFA;
}
.fotobateria
{
    position: absolute;
    width: 239px;
    height: 224px;
    left: 82px;
    top: 502px;

    background: url(/Hojadevida/imagenes/FotoBateria.png))
}
.p3
{
position: absolute;
width: 334px;
height: 280px;
left: 65px;
top: 744px;

font-family: Sahitya;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;

color: #FFFFFF;
}
.p4
{
position: absolute;
width: 305px;
height: 235px;
left: 1074px;
top: 231px;

font-family: Sahitya;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 31px;

color: #FFFFFF;
}
.p5
{
    position: absolute;
width: 287px;
height: 396px;
left: 831px;
top: 480px;
font-family: Sahitya;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 31px;

color: #FFFFFF;
}
.fotoexp
{
position: absolute;
width: 172px;
height: 147px;
left: 864px;
top: 261px;

background: url(/Hojadevida/imagenes/Fotoexp.png);
}
.fotoproy
{
position: absolute;
width: 206px;
height: 202px;
left: 1173px;
top: 579px;

background: url(/Hojadevida/imagenes/FotoProyecto.png);
background-repeat:no-repeat ;
}