body
{
background-image: url(/imagenes/Rectangle\ 4.png);
 background-repeat: no-repeat;
 background-size: cover;
}
.contenido
{
position: absolute;
width: 812px;
height: 1024px;
left: 700px;
top: 0px;

background: #c69d07;
}
.nombre
{
    position: absolute;
width: 812px;
height: 1024px;
left: 326px;
top: 0px;

}
.apellido
{
    position: absolute;
width: 563px;
height: 67px;
left: 326px;
top: 120px;
}
.correo
{
position: absolute;
width: 554px;
height: 73px;
left: 326px;
top: 200px;
}
.contraseña
{
    position: absolute;
    width: 554px;
    height: 67px;
    left: 326px;
    top: 280px;
}
.telefono
{
    position: absolute;
    width: 550px;
    height: 67px;
    left: 326px;
    top: 360px;
}
.confirmar
{
position: absolute;
width: 100px;
height: 40px;
left: 326px;
top: 777px;

background: #FFFFFF;
}