body
{
 background-image: url(/imagenes/Rectangle\ 4.png);
 background-repeat: no-repeat;
 background-size: cover;
} 
.t1
{
position: absolute;
width: 496px;
height: 49px;
left: 20px;
top: 0px;

font-family: 'Josefin Slab';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 40px;

color: #000000;

}
.reg
{
    position: absolute;
    width: 134px;
    height: 28px;
    left: 1113px;
    top: 33px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}
.log
{
    position: absolute;
    width: 90px;
    height: 18px;
    left: 1272px;
    top: 33px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;   
}
.titulo1
{
    position: absolute;
    width: 600px;
    height: 150px;
    left: 41px;
    top: 239px;

font-family: 'Aguafina Script';
font-style: normal;
font-weight: 1100;
font-size: 85px;
line-height: 100px;

color: #9e8611;
}
.titulo2
{
    position: absolute;
    width: 679px;
    height: 133px;
    left: 41px;
    top: 710px;
    
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    
    color: #000000;
}


.menu
{
        list-style: none;
        padding: 0;
        background: #fafafa;
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
    }
    
    .menu li {
        display: inline-block;
        text-align: center;
    }
    
    .menu li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        display: block;
        padding: 20px;
    }
    
    .menu li a:hover{
        background: #ef8354;
}
.fondo
{
position: absolute;
width: 1100px;
height: 800px;
left: 900px;
top: 200px;

}