body
{
background-image: url(/LogIn/imagenes/Fondo.png);
 background-repeat: no-repeat;
 background-size: cover;
}
.contenido
{
position: absolute;
width: 812px;
height: 1024px;
left: 325px;
top: 0px;

background: #ffffff88;

}
.correo
{
position: absolute;
width: 554px;
height: 73px;
left: 326px;
top: 200px;
}
.contraseña
{
    position: absolute;
    width: 554px;
    height: 67px;
    left: 326px;
    top: 320px;
}
.confirmar
{
position: absolute;
width: 100px;
height: 40px;
left: 326px;
top: 777px; 

background: #ffffff;
}