body
{
background-image: url(/imagenes/Fondo.jpg);
}
.card1
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 53px;
    top: 10px;
    
    background: #4C60A6;
}

.img1
{
    position: absolute;
    width: 140px;
    height: 66px;
    left: 108px;
    top: 157px;
}
.card2
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 403px;
    top: 10px;
    
    background: #4C60A6;
}
.img2
{
    position: absolute;
    width: 151px;
    height: 82px;
    left: 456px;
    top: 148px;
    
}
.card3
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 753px;
    top: 10px;
    
    background: #4C60A6;
}
.img3
{
    position: absolute;
width: 131px;
height: 73px;
left: 817px;
top: 144px;
}
.card4
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 1103px;
    top: 10px;
    
    background: #4C60A6;
}
.img4
{
    position: absolute;
width: 116px;
height: 95px;
left: 1187px;
top: 128px;

}
.card5
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 53px;
    top: 247px;
    
    background: #4C60A6;
}
.img5
{
    position: absolute;
    width: 128px;
    height: 82px;
    left: 120px;
    top: 372px; 
}
.card6
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 403px;
    top: 247px;
    
    background: #4C60A6;
}
.img6
{
    position: absolute;
width: 127px;
height: 87px;
left: 464px;
top: 379px;
}
.card7
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 403px;
    top: 247px;
    
    background: #4C60A6;
}
.img7
{
    position: absolute;
    width: 111px;
    height: 127px;
    right: 494px;
    top: calc(50% - 127px/2 - 101.5px);
}
.card8
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 753px;
    top: 247px;
    background: #4C60A6;
}
.img8
{
position: absolute;
width: 111px;
height: 127px;
right: 494px;
top: calc(50% - 127px/2 - 101.5px);
}
.card9
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 53px;
    top: 484px;
    
    background: #4C60A6;

}
.img9
{
position: absolute;
width: 113px;
height: 84px;
left: 128px;
top: 610px;
}

.card10
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 403px;
    top: 484px;
    
    background: #4C60A6;
}
.img10
{
    position: absolute;
    width: 114px;
    height: 77px;
    left: 477px;
    top: 625px;  
}
.card11
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 403px;
    top: 484px;
    
    background: #4C60A6;
}
.img11
{
    position: absolute;
width: 136px;
height: 96px;
left: 822px;
top: 598px;
}
.card12
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 403px;
    top: 484px;
    
    background: #4C60A6;
}
.img12
{
    position: absolute;
width: 128px;
height: 89px;
left: 1168px;
top: 605px;
}
.card13
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 53px;
    top: 721px;
    
    background: #4C60A6;
}
.img13
{
position: absolute;
width: 139px;
height: 72px;
left: 109px;
top: 855px;
}
.card14
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 403px;
    top: 721px;
    
    background: #4C60A6;
}
.img14
{
    position: absolute;
width: 124px;
height: 70px;
left: 477px;
top: 853px;
}
.card15
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 403px;
    top: 721px;
    
    background: #4C60A6;
}
.img15
{
position: absolute;
width: 111px;
height: 71px;
left: 835px;
top: 853px;
}
.card16
{
    position: absolute;
    width: 283px;
    height: 227px;
    left: 1103px;
    top: 721px;
    
    background: #4C60A6;
}
.img16
{
    position: absolute;
    width: 125px;
    height: 97px;
    left: 1168px;
    top: 839px; 
}